<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

	<!-- Remote example -->
	<!-- <jee:remote-slsb id="IMachineImageManager" -->
	<!-- business-interface="org.ow2.sirocco.cloudmanager.core.api.IRemoteMachineImageManager" -->
	<!-- jndi-name="MachineImageManager" lookup-home-on-startup="false"> -->
	<!-- <jee:environment> -->
	<!-- java.naming.factory.initial=org.ow2.carol.jndi.spi.MultiOrbInitialContextFactory -->
	<!-- java.naming.provider.url=rmi://localhost:${carol.port} -->
	<!-- </jee:environment> -->
	<!-- </jee:remote-slsb> -->

	<jee:local-slsb id="ICredentialsManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/CredentialsManager!org.ow2.sirocco.cloudmanager.core.api.ICredentialsManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.ICredentialsManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="IEventManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/EventManager!org.ow2.sirocco.cloudmanager.core.api.IEventManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.IEventManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="IJobManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/JobManager!org.ow2.sirocco.cloudmanager.core.api.IJobManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.IJobManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="IMachineManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/MachineManager!org.ow2.sirocco.cloudmanager.core.api.IMachineManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.IMachineManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="IMachineImageManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/MachineImageManager!org.ow2.sirocco.cloudmanager.core.api.IMachineImageManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.IMachineImageManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="INetworkManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/NetworkManager!org.ow2.sirocco.cloudmanager.core.api.INetworkManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.INetworkManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="ISystemManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/SystemManager!org.ow2.sirocco.cloudmanager.core.api.ISystemManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.ISystemManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>
	<jee:local-slsb id="IVolumeManager"
		jndi-name="java:global/org.ow2.sirocco.cloudmanager.sirocco-cloudmanager-core-manager_0.6.0.SNAPSHOT/VolumeManager!org.ow2.sirocco.cloudmanager.core.api.IVolumeManager"
		business-interface="org.ow2.sirocco.cloudmanager.core.api.IVolumeManager"
		lookup-home-on-startup="false">
	</jee:local-slsb>

	<context:annotation-config />
	<context:component-scan base-package="org.ow2.sirocco.cimi.server" />
</beans>
